$fa-font-path: "/assets/webfonts";

@mixin mainTitle {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 36px;
    color: $mainTitleFontColor;    
}

$mainFont: "Montserrat", Helvetica, Arial, sans-serif;

$bgcolor: #f1f1f2;
$generalColor: #006c84;
$buttonColor: #006c84;
$searchButtonColor: #e2e8e4;
$textOnWhite: #006c84;
$borderColor: #006c84;
$textOnBLack: #e2e8e4;
$graph: #ffccbb;
$hover: #bcbabe;
$countriesList: #f8f8f8;
$countryInfo: #f8f8f8;

$sideBarColor: rgb(141, 170, 226);
$menuColor: rgb(255, 255, 255);
$primaryColor: #ffff;
$boardBackgroundColor: #F5F7FA;
$mainTitleFontColor: #4786FF;
$closeMenuLogo: #FD7036;
$navBackgroundColor: rgb(236, 236, 255);