@import '/assets/scss/vars.scss';

* {
    box-sizing: border-box;
    top: 0;
    left: 0;
    margin: 0px 0px 0px 0px;
}
  
body {
    width: 100%;
    height: 100vh;
    display: flex;
}
  
aside {
    display: flex;
    position: relative;
    height: 100%;
    background: blue;    
}
  
.title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70px;
    background: $sideBarColor;
    border: none;
    z-index: 555;
    align-items: center;
    text-align: center;
    
    .burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15px;        
        cursor: pointer;
        width: 40px;
        height: 40px;
        
        &:hover span {
            box-shadow: 2px 2px 5px 0px $boardBackgroundColor;
        }

        &.active:hover span {
            box-shadow: 2px 2px 5px 0px $closeMenuLogo;
        }

        span {
            transition: all 0.5s;
            height: 3px;
            background-color: $primaryColor;
            display: block;
            width: 30px;
            margin: 3px;            
        }

        &.active span:nth-child(1) {
            transform: translate(6px, -1px) rotate(45deg);
            transform-origin: left top;
            background-color: $closeMenuLogo;            
        }

        &.active span:nth-child(2) {
            transform: scale(0);           

        }
        
        &.active span:nth-child(3) {
            transform: translate(-3px, -20px) rotate(-45deg);
            transform-origin: right bottom;
            background-color: $closeMenuLogo;            
        }
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: none;
            border: $boardBackgroundColor 2px solid; 
            overflow: hidden;
            margin-bottom: 15px;        
        }
        
        .question {
            @include mainTitle;
            display: flex;
            align-items: center;
            justify-content: center; 
            width: 25px;
            height: 25px;
            border-radius: 50%;
            background: none;
            border: $boardBackgroundColor 2px solid;
            color: $boardBackgroundColor; 
            font-size: 12px; 
            margin-bottom: 30px;              
        }
    }    
}
  
.nav {
    position: relative;
    width: 250px;
    border: none;
    background: $menuColor;
    transition: all 1s;
    z-index: 0;
    margin-left: -250px;
    background-color: $navBackgroundColor;

    &.active {
        margin-left: 0px;
    }

    &_title {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 140px;

        &__logo {
            @include mainTitle;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;            
            height: 40px;
            width: 40px;
            background-color: $mainTitleFontColor;
            color: $primaryColor;
            box-shadow: 2px 2px 5px 0px $primaryColor;
        }
        
        &__content {
            @include mainTitle;
            display: flex;
            text-align: bottom;            
        }
    }   
}
  
.main-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 1000px;
    height:100%;
    background: $primaryColor;
    
    .header {
        @include mainTitle;
        padding-left: 70px;
        display: flex;
        width: 100%;
        height: 70px;
        background: $primaryColor;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        
        &_clock {
            margin-right: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &__time {
                display: flex;
                justify-content: flex-end;
                width: 100%;                
                font-size: 24px;
            }

            &__date {
                font-size: 16px;
                color: black;
            }
        }
    } 
    
    .board-wrapper {
        display: flex;        
        width: 100%;
        height: 100%;
        min-height: 400px;
        background: $boardBackgroundColor;

        .board_title {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 75px;             
            margin-left: 40px;
            max-height: 40px;
    
            &__logo {
                @include mainTitle;
                display: flex;               
                align-items: center;
                justify-content: center;
                border-radius: 5px;            
                height: 40px;
                width: 40px;
                background-color: $mainTitleFontColor;
                color: $primaryColor;
                box-shadow: 2px 2px 5px 0px $primaryColor;
            }
            
            &__content {
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 24px;
                color: black;
                display: flex;                
            }
        }   
    }    
}



