@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import "/assets/scss/vars.scss";

.header_toggle {
	display: flex;
	justify-content: center;
	align-items: center;

	.checkbox {
		opacity: 0;		
	}
	
	.label {
		background-color: $sideBarColor;
		border-radius: 50px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 5px;	
		height: 26px;
		width: 50px;
		transform: scale(1.5);
		box-shadow: inset 0 0 5px $borderColor;		
	}

	.checkbox:checked + .label .ball {
		transform: translateX(24px);
	}
	
	.fa-moon {
		color: #f1c40f;
	}
	
	.fa-sun {
		color: #f39c12;
	}

	.label .ball {
		background-color: $bgcolor;
		border-radius: 50%;
		position: absolute;
		top: 2px;
		left: 2px;
		height: 22px;
		width: 22px;
		transform: translateX(0px);
		transition: transform 0.2s linear;
	}	
}


// для смены бекграунда

// body {
// 	background-color: #fafafa;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	height: 100vh;
// 	margin: 0;
// 	transition: background 0.2s linear;
// }

// body.dark {
// 	background: #292C35;
// }
