.title__first-letter {
  color: #ffffff;
  background: #4786ff;
  font-size: 36px;
  font-family: Lato;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 20px rgba(71, 134, 255, 0.5);
  border-radius: 4px;
  margin-right: 5px;
}
.title__text {
  font-family: Lato;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #1b2437;
}
