.wrapper {
  height: 80%;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
  padding-right: 25px;
  background: #f5f7fa;
}

.board__title-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 199px;
  height: 50px;
  margin-bottom: 25px;
}
