.wrapper {
width: 1371px;
height: 780px;
border: 1px solid red;
padding-top: 70px;
padding-left: 74px;
background: #F5F7FA;
overflow-y: auto;
}
.board__title-wrapper {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 199px;
  height: 50px;
  margin-bottom: 25px;
}