$primary-color: #4285f4;
$scale: 3;
$squareSize: 50px;
$cornerSize: ceil($squareSize / $scale);
$cornerPosition: ceil($cornerSize / $scale);

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

@keyframes dyinglight {
  15% {
    transform: scale(1.6);
  }
  50% {
    transform: rotate(-89deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}

.dl {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.dl__square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $squareSize;
  height: $squareSize;
  background: $primary-color;
  font-size: 1.7rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
}

.dl__container {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  transform-origin: 50% 50% 0;
  animation: dyinglight 1s ease infinite;
  backface-visibility: hidden;
}

.dl__corner--top:before,
.dl__corner--top:after,
.dl__corner--bottom:before,
.dl__corner--bottom:after {
  position: absolute;
  width: $cornerSize;
  height: $cornerSize;
  color: $primary-color;
  content: "";
}

.dl__corner--top {
  &:before {
    border-left: 1px solid;
    border-top: 1px solid;
    top: -$cornerPosition;
    left: -$cornerPosition;
  }

  &:after {
    border-right: 1px solid;
    border-top: 1px solid;
    top: -$cornerPosition;
    right: -$cornerPosition;
  }
}

.dl__corner--bottom {
  &:before {
    border-left: 1px solid;
    border-bottom: 1px solid;
    bottom: -$cornerPosition;
    left: -$cornerPosition;
  }

  &:after {
    border-right: 1px solid;
    border-bottom: 1px solid;
    bottom: -$cornerPosition;
    right: -$cornerPosition;
  }
}
